body{
    height: 3000px;
}

a{
    text-decoration: none;
}

.listsRow{
    height: 3000px;
}

a:hover{
    text-decoration: none;
}
.operation{
    color:#fff;
}


ul{
    list-style: none;
}
#app .navbar{
    z-index: 10;
}

.block1{
    background-color:rgb(65, 67, 70);
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.32);
    padding-top:20px;
    height: 100%;
}
.block2{
    margin-top: 20px;
}
.box{
    background-color: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.32);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 15px;
    padding-bottom: 0.5vw;
}
.box dt{
    margin-left: 10px;
}

.snippetText{
    background-color:#fff;
    margin-left: 5vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    border: solid 1px rgb(0, 165, 189);
    border-radius: 6px;
    padding-left: 5px;
}

.col-3{
    width: 100%;
    padding: 0 !important;
}

.menuTag{
    width: 100%;
    color: #fff;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.menuTag:hover{
    background-color: rgb(45, 46, 46);
    color: rgb(7, 161, 97);
    font-weight: 600;
}

.searchForm{
    float: right;
    display: inline-flex;
}

.edit.card{
    margin-top: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;
}

.editDelete{
 text-align: right;
 margin-right: 15px;
}

.toUpper{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    bottom: 0px;
    border-radius: 100px;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.32);
    background-color: #929597;
    color: #fff;
    font-size: 1.4vw;
    width: 8vw;
    height: 8vw;
    text-align: center;
    justify-content: center;
    opacity: 0;
}

.linkLogo{
    height: 3vw;
}

.sideLink{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.changeAlert{
    background-color: #f5f128;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    text-align: center;
}

